
h1 {
    margin: auto;
    color: #000000;
    background: azure;
}
h6 {
    margin: auto;
    color: turquoise;
    background: #2F4F4F;
}
h10 {
    margin: auto;
    color: #00843D;
    background: #FFCD00;
}

/*.test {
    margin: auto;
    color: red;
} */