
h1 {
    margin: auto;
    color: #000000;
    background: azure;
}
h6 {
    margin: auto;
    color: turquoise;
    background: #2F4F4F;
}
h10 {
    margin: auto;
    color: #00843D;
    background: #FFCD00;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*.test {
    margin: auto;
    color: red;
} */