
h1 {
    margin: auto;
    color: #000000;
    background: azure;
}
h3 {
    margin: auto;
    color: cyan;
    background: #FFFFFF;
}
h5 {
    margin: auto;
    color: #00843D;
    background: #FFCD00;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
}

img {
    width: 200px;
    height: 200px;
}
/*.test {
    margin: auto;
    color: rgb(255, 0, 0);
} */